.App-heading {
  font-size: 1.667em;
  font-weight: 500;
  margin: 0 0 1.5rem;
}

.App-subHeading {
  font-size: 1.333em;
  font-weight: 500;
  margin: 1.5rem 0;
}

.App-module {
  animation-name: App-moduleFadeOut;
  animation-duration: 5s;
  list-style: none;
  font-family: Menlo, monospace;
  margin: 0 -0.2em;
  padding: 0.2em;
}

.App-moduleTimestamp {
  color: #999;
}

.App-moduleURL {
  font-weight: 500;
  padding-left: 0.5em;
  text-decoration: none;
}

@keyframes App-moduleFadeOut {
  from {
    background-color: hsla(60, 100%, 50%, 0.2);
  }
  to {
    background-color: hsla(60, 100%, 50%, 0);
  }
}
